<div class="sidebar">
  <ul class="nav">
    <li class='active'>
      <%= link_to @election.title, admin_election_path(@election) %>
      <ul class="nav">
        <li><%= link_to fontawesome("list-alt", "Details"), admin_election_path(@election) %></li>
        <li><%= link_to fontawesome("pencil", "Edit"), edit_admin_election_path(@election) %></li>
        <li><%= link_to fontawesome("group", "Responders"), admin_election_responders_path(@election) %></li>
      </ul>
    </li>
  </ul>

</div>
