<div class="page-header">
  <h2>Elections</h2>
</div>
<ul class="list-unstyled">
  <% @elections.each do |election| %>
    <li><%= link_to election.name, election_path(election) %></li>
  <% end %>
</ul>
