/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= depend_on_asset "bootstrap/glyphicons-halflings-regular.eot"
 *= depend_on_asset "bootstrap/glyphicons-halflings-regular.woff"
 *= depend_on_asset "bootstrap/glyphicons-halflings-regular.ttf"
 *= depend_on_asset "bootstrap/glyphicons-halflings-regular.svg"
 */
$brand-primary: #5299D3;
$navbar-default-bg: $brand-primary;
$navbar-default-color: #fff;
$navbar-default-link-color: #fff;
$navbar-default-link-active-color: #fff;
@import 'bootstrap';
@import "font-awesome";

div.page-header{
  margin-top: 0;
}

.sidebar{
  padding: 5px 0;
  background-color: $breadcrumb-bg;
  border-radius: 4px;
  a{
    color: darken($brand-primary, 10);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .nav .nav {
    display: none;
    a{
      font-size: 0.8em;
      padding:3px 15px 3px 30px ;
    }
  }
  li.active {
    > a{
      font-weight: bold;
      border-right: solid 1px darken($brand-primary, 10);
    }
    .nav{
      display: block;
    }
  }
}
