<%= election_sidebar do %>
  <div class="page-header">
    <h1>Responder Details</h1>
  </div>
  <dl class="dl-horizontal">
    <dt>Name:</dt>
    <dd><%= @responder.name %></dd>
    <dt>Email:</dt>
    <dd><%= @responder.email %></dd>
    <dt>Ballot Link:</dt>
    <dd><%= link_to election_url(key: @responder.private_key), election_path(key: @responder.private_key) %></dd>
  </dl>

<% end %>
